<header>
  <div
    class="d-flex flex-row px-5 py-5 text-bg-white border-bottom justify-content-between"
  >
    <div>
      <button class="btn btn-lg py-2 px-3 bg-primary text-white" routerLink="dashboard">Dashboard</button>
      <button class="btn btn-lg py-2 px-3 bg-primary text-white" routerLink="home">Home</button>
      <button class="btn btn-lg py-2 px-3 bg-primary text-white" routerLink="test">Test</button>
      <button class="btn btn-lg py-2 px-3 bg-primary text-white" routerLink="login">Login</button>

    </div>

    <h3>Styling shop</h3>
    <input />
  </div>
</header>
